{% extends 'navbar_base.html' %}
{% block title %}Bokeh - wykres{% endblock %}
{% block metas %}
    {{ super() }}
    {{ js_resources|indent(4)|safe }}
    {{ css_resources|indent(4)|safe }}
{% endblock %}
{% block content %}
    {{ super() }}
    <div class="about fs-5 text-center m-5">
            Tutaj możesz zobaczyć w jaki sposób działa nasz system.
        </div>
    <div class="d-flex d-row justify-content-center m-5">
        <div>
            {{ script|indent(4)|safe }}
        </div>
    </div>
    
{% endblock %}